.container_stats{
    background-color: black;
    color:white;
    width: 100%;
    height: max-content;
    padding-top: 3em;
}

.container_stats p{
    color: #79F900;
    font-size: 1.4rem;
    font-weight: bold;
}

.container_stats h3{
    color:white;
    font-weight: bold;
}