@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
#root{
  background-color: black;
  height: max-content;
}

.App {
  text-align: center;
  font-family: 'Marvel', sans-serif;
}